{% extends "layout/base_site.html" %}

{% if section_title %}{% block sectitle %}{{ section_title }} |{% endblock %}{% endif %}

{% block content %}

<script type="text/javascript">

var filters = new Array();
var filterValues = new Array();

{% for key, value in autosuggest_params.items %}
	filters[filters.length] = "{{ key }}";
	filterValues[filterValues.length] = "{{ value }}";
{% endfor %}

</script>



<input class="autosuggest_input" type="text" id="{{ model_name }}_title" onclick="this.value='';" value="Search all {% if parent_title %}{{ parent_title|lower }} {% endif %}{{ model_name_plural }}..." />
<script type="text/javascript">
	initAutosuggest('{{ app_label }}__{{ model_name }}', '{{ model_name }}_title', null, function(data) { window.location.href = data.url }, null, false, filters, filterValues);
</script>

<input class="autosuggest_input" type="text" id="your_{{ model_name }}_title" onclick="this.value='';" value="Search your {% if parent_title %}{{ parent_title|lower }} {% endif %}{{ model_name_plural }}..." />
<script type="text/javascript">
	initAutosuggest('{{ app_label }}__{{ model_name }}', 'your_{{ model_name }}_title', null, function(data) { window.location.href = data.url }, null, true, filters, filterValues);
</script>
<a href="#">Browse all</a>

<h4 class="section_title">Top {% if parent_title %}{{ parent_title|capfirst }} {% endif %}{{ model_name_plural|capfirst }}</h4>
{% if top_objects %}
  <ol class="recipe_item_list">
		{% for object in top_objects %}
			<li><a href="{{ object.get_absolute_url }}">{{ object }}</a> ({{ object.voteValue }})</li>
		{% endfor %}
  </ol>
{% else %}
  <p>No {{ model_name_plural }}.</p>
{% endif %}

<h4 class="section_title">Voteless {% if parent_title %}{{ parent_title|capfirst }} {% endif %}{{ model_name_plural|capfirst }}</h4>
{% if voteless_objects %}
  <ul class="recipe_item_list">
		{% for object in voteless_objects %}
			<li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
		{% endfor %}
  </ul>
{% else %}
  <p>No {{ model_name_plural }}.</p>
{% endif %}

{% endblock %}